body{
    padding-top: 2rem;
}

.custom-box {
    display: inline;
}

.has-details {
    background-color:gainsboro;
}

.computer-list {
    background-color: green;
}

.custom-list-item {
    padding: 5px;
    float: left;
    width: 15rem;
}



  .detail-card-1 {
    height: 5rem !important;
  }

  .detail-card-2 {
    height: 10rem;
  }

  .checked-toggle{
    border: 2px solid rgb(1, 1, 80);
    background-color: rgb(0, 0, 192);
  }

  .nw-header{
    margin-left: -20rem;
    margin-right: -20rem;
    margin-top: -2rem;
    background-color: rgb(192, 192, 192);
  }

  .nw-container{
    text-align: center;
    margin: 0;
  }

  .category-btns{
    text-align: center;
    margin: 1rem 0rem 1rem 0rem;
  }

  .btns-row{
    padding: 0px;
    margin: 0px;
  }

  .btns-col{
    padding: 0px;
  }